[submodule "backend"]
	path = backend
	url = https://github.com/sadeghpro/ldap-dashboard-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sadeghpro/ldap-dashboard-frontend.git
